.header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid black;

  button {
    height: 40px;
  }
}

.user-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
